.resize{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    outline:3px solid green;
} 

:root{
    --resize-size: 10px;
}
.resize .left-top{
    position: absolute;
    left:calc(-1 * (var(--resize-size)/2));
    top:calc(-1 * (var(--resize-size)/2));
    background-color: white;
    width:var(--resize-size);
    height:var(--resize-size);
    outline: 3px solid green;
}
.resize .right-top{
    position: absolute;
    right:calc(-1 * (var(--resize-size)/2));
    top:calc(-1 * (var(--resize-size)/2));
    background-color: white;
    width:var(--resize-size);
    height:var(--resize-size);
    outline: 3px solid green;
}
.resize .left-bottom{
    position: absolute;
    left:calc(-1 * (var(--resize-size)/2));
    bottom:calc(-1 * (var(--resize-size)/2));
    background-color: white;
    width:var(--resize-size);
    height:var(--resize-size);
    outline: 3px solid green;
}
.resize .right-bottom{
    position: absolute;
    right:calc(-1 * (var(--resize-size)/2));
    bottom:calc(-1 * (var(--resize-size)/2));
    background-color: white;
    width:var(--resize-size);
    height:var(--resize-size);
    outline: 3px solid green;
}